<section class="booking-category">

    <div class="category-section pending">
        {{#if variable}}
            
        {{else}}
            <p>No pending bookings.</p>
        {{/if}}
    </div>

    <div class="category-section approved">
        {{#if variable}}
            
        {{else}}
            <p>No approved bookings.</p>
        {{/if}}

    </div>

</section>