<div id="edit">
<header class="main-header">

        <h1>Edit</strong>Profile</strong></h1>

    </header>

    <form> 

        <div class="input-container"> 
          <label><i class="fa fa-user icon"></i>
          <input class="input-field" type="text" placeholder="Full Name" name="usrnm">
        </label>
        </div>
      
        <div class="input-container">
          <label><i class="fa fa-envelope icon"></i>
          <input class="input-field" type="text" placeholder="Email" name="email">
          </label>
        </div>
        <br>
        <div class="details">
          <h3>ABOUT ME</h3>
        <textarea rows="4" cols="50" class="aboutme" placeholder="About Me"></textarea>
        <br>
        <br>
        </div>
                <button type="submit" class="submit">Submit</button>     

      </form>

      {{> footer}}
</div>
 