 <div class="edit-profile">
 
 <header>

        <h1>Edit<strong>Profile</strong></h1>

    </header>

    <form> 
    
        <div class="input-container"> 
          <i class="fa fa-user icon"></i>
          <input class="input-field" type="text" placeholder="Full Name" name="usrnm">
        </div>
      
        <div class="input-container">
          <i class="fa fa-envelope icon"></i>
          <input class="input-field" type="text" placeholder="Email" name="email">
        </div>
      
        <div class="input-container">  
          <i class="fa fa-key icon"></i>
          <input class="input-field" type="password" placeholder="Password" name="psw">
        </div>
        <br>
        
        <textarea rows="4" cols="50" class="aboutme" placeholder="About Me"></textarea>
        <br>
        <br>
        <input type="submit" class="submit" value="Save">
      </form>
      </div>