<div class="landing"> 
    <div class="hero">

        <img src="assets/img/icon-white.png">
        <h1>Studio<strong>Connect</strong></h1>
    <br>
        <button id="login">LOG IN</button>
        <button id="signUP">SIGN UP</button>
  
    </div>
    <div class="about">
<h2> About Studio Connect </h2>
<p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

    </div>


    <footer>
        <i class="social-icons fab fa-facebook-f"></i>
        <i class="social-icons fab fa-twitter"></i>
        <i class="social-icons fab fa-google-plus-g"></i>
        <i class="socail-icons fab fa-instagram"></i>
    </footer>

</div>

{{!-- Javascript Starts Here --}}
<script type="text/javascript">
$("#signUP").on("click",function(){
    window.location.href = "/signup";
});

$("#login").on("click",function(){
    window.location.href = "/login";
});

</script>
{{!-- Javascript Ends Here --}}
   
