<div class="musician-container">
	<header class="main-header">
            <h2>Discover<strong>Studios</strong></h2>
    </header>
	<div class="hero">
		<input type="text" id="search" placeholder="Search for Studios" />
		<button type="submit" class="submit">Search</button>
	</div>
	<main class="musician-main">
		<div class="row">
			<div class="discover-images">
				<span class="discover-name"> 
					<p id="studio1name">Studio Name 1</p>
					<img id="studio1pic" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Drums_schematic.svg" alt="Pic" height="100" width="100">
				</span>
			</div>

			<div class="discover-images">
				<span class="discover-name"> 
					<p id="studio2name">Studio Name 2</p>
					<img id="studio2pic" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Drums_schematic.svg" alt="Pic" height="100" width="100">
				</span>
			</div>

			<div class="discover-images">
				<span class="discover-name"> 
					<p id="studio3name">Studio Name 3</p>
					<img id="studio3pic" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Drums_schematic.svg" alt="Pic" height="100" width="100">
				</span>
			</div>

			<div class="discover-images">
				<span class="discover-name"> 
					<p id="studio4name">Studio Name 4</p>
					<img id="studio4pic" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Drums_schematic.svg" alt="Pic" height="100" width="100">
				</span>
			</div>
		</div>

		<div class="row">
			<div class="discover-images">
				<span class="discover-name"> 
					<p id="studio5name">Studio Name 5</p>
					<img id="studio5pic" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Drums_schematic.svg" alt="Pic" height="100" width="100">
				</span>
			</div>

			<div class="discover-images">
				<span class="discover-name"> 
					<p id="studio6name">Studio Name 6</p>
					<img id="studio6pic" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Drums_schematic.svg" alt="Pic" height="100" width="100">
				</span>
			</div>

			<div class="discover-images">
				<span class="discover-name"> 
					<p id="studio7name">Studio Name 7</p>
					<img id="studio7pic" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Drums_schematic.svg" alt="Pic" height="100" width="100">
				</span>
			</div>

			<div class="discover-images">
				<span class="discover-name"> 
					<p id="studio8name">Studio Name 8</p>
					<img id="studio8pic" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Drums_schematic.svg" alt="Pic" height="100" width="100">
				</span>
			</div>

		</div>
		<script src="/musician-main.js"></script>


	</main>

	{{> footer}}

</div>