<div class="container">
    <header class="signup">

        <img src="/assets/img/icon-white.png">
        <h1>Studio<strong>Connect</strong></h1>

    </header>
    
    <main class="signup">
        <form role="sign-up">

            <div class="studio-check">
                I own a studio.
                <div class="toggle">
                    <label class="switch">
                        <input type="checkbox" checked id="check" value="studio">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <input type="email" class="signup" id="email" placeholder="Enter Email">
            <input type="password" class="signup" id="password" placeholder="Enter Password">
            <input type="password" class="signup" id="password-conf" placeholder="Confirm Password">

            <input type="submit" class="submit" placeholder="Sign Up">


        </form>

    </main>

<script src="/signup.js"></script>

</div>