<div class="listing-card">

    <h1>Listing</h1>

    <div class="listing-menu">
        {{#if variable}}
            <button class=""> Create Listing </button>
        {{else}}
            <button class="double-menu view-listing"> View </button>
            <button class="double-menu edit-listing"> Edit </button>
        {{/if}}

    </div>

</div>