
    <header>

        <img src="/assets/img/icon-white.png">
        <h1>Studio<strong>Connect</strong></h1>

    </header>

    <form role="login">
        <input type="text" name="email" class="email" placeholder="email"><br>
        <br>
        <input type="password" name="password" class="password" placeholder="password">

        <br>
        <button type="submit" form="form1" value="login" class="login">LOGIN</button>

    </form>
