
    <div class="view-listing">
        <header class="main-header">
            <h2>Studio<strong>Connect</strong></h2>
        </header>
        <main class="listing">

            <section class="listing-photo">
                <!-- Photo Goes Here -->
            </section>
            <section class="listing-info">
                <h3 class="studio-name">Studio Name</h3>
                <div class="loc-price">
                    <i class="fas fa-map-marker-alt"></i><span class="studio-location"> 123 Main St, Jersey City, NJ 07105</span>
                    <br>
                    <i class="fas fa-dollar-sign"></i><span class="studio-price"> 150 </span> / 2 hour session
                </div>
                <h4>Studio Description</h4>
                <p class="studio-desc">
                    Modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Ut wisi enim ad minim veniam quis nostrud. Processus dynamicus qui sequitur mutationem consuetudium lectorum mirum. Augue duis dolore te feugait nulla facilisi nam liber tempor cum soluta. Vero eros et accumsan, et iusto odio dignissim qui blandit praesent luptatum zzril. Quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et?
                </p>
                <h4>Main Equipment</h4>
                <p class="main-equip">
                    Modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Ut wisi enim ad minim veniam quis nostrud. Processus dynamicus qui sequitur mutationem consuetudium lectorum mirum. Augue duis dolore te feugait nulla facilisi nam liber tempor cum soluta. Vero eros et accumsan, et iusto odio dignissim qui blandit praesent luptatum zzril. Quam nunc putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et?
                </p>
            </section>

            <button type="submit" class="submit">Book Session</button>

        </main>


        <footer class="main-footer">

            &copy; 2018 Studio Connect
    
        </footer>
    </div>